.Landing {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

alphabet-table-container {
  margin: 20px;
}

.awesome-container {
  background-color: #f0f0f0;
  padding: 20px;
}

.awesome-container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #2980b9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input:hover {
  border-color: #2980b9;
}

input:focus {
  border-color: #2980b9;
  box-shadow: 0 0 5px rgba(3, 20, 116, 0.8);
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cool-input-container {
  margin: 15px;
}

.awesome-label {
  display: block;
  margin-bottom: 8px;
  color: #2980b9;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
}

.awesome-input {
  padding: 10px;
  border: 2px solid #2980b9;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  width: 200px;
}

.table2
{
  margin-bottom: 20px;
}

.table1
{
  margin-top: 30px;
  margin-bottom: 10px;
}

.result-container {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #2980b9;
  border-radius: 8px;
  background-color: #f2f2f2;
}

.result-label {
  display: block;
  font-size: 18px;
  color: #333;
}

.blue-line {
  height: 2px;
  width: 100%;
  background-color:#2980b9;
  margin-top: 5px;
}

.table-slot
{
  width: 10%;
}

.table-container
{
  background-color: whitesmoke;
  padding-top: 30px;
  padding-bottom: 20px;
}

.separate
{
  padding-bottom: 15px;
}

.alphabet-table {
  border-collapse: collapse;
  width: 40%;
  margin-left: 30%;
}

.alphabet-table2 {
  border-collapse: collapse;
  width: 40%;
  margin-left: 30%;
}

.alphabet-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}

.alphabet-table2 td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-size: 18px;
}

.alphabet-table td:hover {
  background-color: white;
}

.alphabet-table2 td:hover {
  background-color: white;
}

.highlight {
  background-color: #f5f5f5;
}

.green {
  background-color: #70b6e4;
}

.blue {
  background-color: #2980b9;
}

@media screen and (max-width: 1050px) {

  .alphabet-table2 {
    margin-left: 10%;
    margin-right: 10%;
  }

}

