.two-square-cipher-explanation {
    margin: 0 auto;
    max-width: 800px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 0;
  }

  .title
  {
    color: #2980b9;
    padding-top: 30px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5em;
  }
  
  ol {
    font-size: 16px;
    list-style-type: decimal;
    margin-left: 20px;
  }
  
  pre {
    font-family: monospace;
    font-size: 14px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
  }